<div>
<a [routerLink]="" (click)="gotoLocations()">Locations</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a [routerLink]="" (click)="gotoDepartments()">Departments</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a [routerLink]="" (click)="gotoCategories()">Categories</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a [routerLink]="" (click)="gotoSubCategories()">Sub Categories</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a [routerLink]="" (click)="gotoSKU()">SKU</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a [routerLink]="" (click)="gotoSKUChart()">Sku Chart</a>
</div>
<s2w-angular-d3-tree-lib
  [(treeData)]="data"
  (onNodeChanged)="nodeUpdated($event)"
  (onNodeSelected)="nodeSelected($event)"></s2w-angular-d3-tree-lib>
